@import "_common";

body{
    .mainbox{
        width: $pagrWidth;
        position: relative;
        canvas{
            // position: absolute;
            // left: 0; top: 0;
            // width: 100%;
            // height: 100%;
            // z-index: -20;
            @include canvas();
        }
        main{
            width: calc(100% - 116px);
            .box{
                display: flex;
                justify-content: space-between;
                .left{
                    position: relative;
                    width: 20%;
                    height: 100vh;
                    padding: 5% 2%;
                    background-color: #FFC7C7;

                    .txtsvg{
                        position: absolute;
                        top: 0%; left: 0%;
                        width: 100%;
                        height: 100%;

                        .txtP{
                            fill:transparent;
                            stroke: #000;
                            stroke-width: 1;
                            transform: scale(.85);
                        }
                        text{
                            fill:#000;
                            font-family: 'LeferiBaseType-RegularA';
                            textPath{
                                // fill:#f00;
                                font-size: 2rem;
                                white-space: $pre;
                                tspan{
                                    font-size: 2rem;
                                    stroke-width: 0.5;
                                    fill:transparent;
                                    stroke: #000;
                                }
                            }

                        }
                    }

                    .menutxt{
                        position: relative;
                        .txtCircle{
                            transform: scaleX(-1) scale(1.2);
                        }
                        //circle_svg
                        .txtCircle .b path{
                            fill:transparent;
                            stroke:#FF5353;
                            mix-blend-mode: multiply;
                            stroke-width: 20px;
                            stroke-dasharray: 1500px;
                            stroke-dashoffset: 1500px;
                            animation: circle 2s ease forwards;
                        }

                        @keyframes circle {
                            100%{
                                stroke-dashoffset: 0px; 
                            }
                        }

                        .three{
                        position: absolute;
                        width: 13%;
                        left: 25%; top: 13%;
                        // transform: translate(30%,20%);
                        // width:62.62px; height:85.38px;
                        }

                        .txtCircle mask path{
                            fill:white;
                        }

                        // 3_svg
                        .three .threetxt path{
                            fill:transparent;
                            stroke:#FF5353;
                            mix-blend-mode: multiply;
                            stroke-width: 20px;
                            stroke-linecap: round;
                            stroke-dasharray: 100px;
                            stroke-dashoffset: 100px;
                            animation: three 1s ease forwards;
                        }

                        .three .threetxt2 path{
                            fill:transparent;
                            stroke:#FF5353;
                            mix-blend-mode: multiply;
                            stroke-width: 20px;
                            stroke-linecap: round;
                            stroke-dasharray: 100px;
                            stroke-dashoffset: 100px;
                            animation: three2 1s .5s ease forwards;
                        }

                        .three mask path{
                            fill:white;
                        }

                        @keyframes three{
                            100%{
                                stroke-dashoffset: 0px; 
                            }
                        }

                        @keyframes three2{
                            100%{
                                stroke-dashoffset: 0px; 
                            }
                        }

                        // two
                        .two{
                            position: absolute;
                            left: 10%; top: 60%;
                            width: 13%;
                        }
                            .two .twotxt path{
                                fill:transparent;
                                stroke:#FF5353;
                                mix-blend-mode: multiply;
                                stroke-width: 30px;
                                stroke-linecap: round;
                                stroke-dasharray: 100px;
                                stroke-dashoffset: 100px;
                                animation: two 1s ease forwards;
                            }

                            .two .twotxt2 path{
                                fill:transparent;
                                stroke:#FF5353;
                                mix-blend-mode: multiply;
                                stroke-width: 10px;
                                stroke-linecap: round;
                                stroke-dasharray: 100px;
                                stroke-dashoffset: 100px;
                                animation: two2 1s .5s ease forwards;
                            }

                            @keyframes two{
                                100%{
                                    stroke-dashoffset: 0px; 
                                }
                            }

                            @keyframes two2{
                                100%{
                                    stroke-dashoffset: 0px; 
                                }
                            }

                            .two mask path{
                                fill:white;
                            }
                    


                        h3{
                            position: absolute;
                            left: 15%; top: 15%;
                            font-family: 'LeferiBaseType-BoldA';
                            font-size: 3.2rem;
                            white-space: $pre;
                            margin: 0;
                        }

                        
                    }
                    .nametag{
                        position: absolute;
                        left: 10%; bottom: 10%;
                        .nametag2{       
                            width: 15vw; 
                            height: 8vw;
                            fill: #fff;
                            stroke: #000;
                            stroke-width: 3;
                            // transition: .3s ease;
                            // &:hover{
                            //     animation: colorful 1s ease-in forwards;

                            //     @keyframes colorful {
                            //         0%{ fill: #D9A9FF;}
                            //         50%{fill: #A9EAFF;}
                            //         80%{fill: #A9B1FF;}
                            //         100%{ fill: #fff;}
                            //     }
                            // }

                            text{
                                font-family: 'LeferiBaseType-RegularA';
                                fill:#000;
                                font-size: 2.2rem;
                            }

                        }
                    }
                }
                
                // 메인 오른쪽 박스
                .right{
                    position: relative;
                    width: 80%;

                    .logo{
                        position: absolute;
                        right: 12%; top: 10%;
                        width: 10%;
                        .st0{
                            @include logoPath();
                        }
                    }

                    .svgC{
                        position: absolute;
                        left: 0; top: 0;

                        .dia{
                            fill:#FF6C6C;
                            mix-blend-mode: multiply;
                            transform: rotate(45deg);
                            transform-origin: 0 0;
                        }
                    
                        circle{
                            mix-blend-mode: multiply;
                        }
                        .redCircle{
                            fill:#FF5353;
                            animation: C1 3s ease forwards;
                            opacity: 0;

                            @keyframes C1 {
                                0%{
                                    transform: translate(-10%,10%);
                                }
                                20%{
                                    opacity: 1;
                                }
                                100%{
                                    opacity: 1;
                                    transform: translate(0%,0%);
                                }
                            }
                        }
                        .pinkCircle{
                        fill:#ff7c7c50;
                        animation: C2 3s ease forwards;
                        opacity: 0;

                        @keyframes C2 {
                            0%{
                                transform: translate(10%,-10%);
                            }
                            20%{
                                opacity: 1;
                            }
                            100%{
                                opacity: 1;
                                transform: translate(0%,0%);
                            }
                        }
                        }
                        .pinkLine{
                            stroke:#FF5353;
                            fill: transparent;
                            stroke-width: .2;
                            animation: C3 3s .4s ease forwards;
                            opacity: 0;

                            @keyframes C3 {
                                0%{
                                    transform: translate(15%,-15%);
                                }
                                30%{
                                    opacity: 1;
                                }
                                100%{
                                    opacity: 1;
                                    transform: translate(0%,0%);
                                }
                            }
                        }
                    }

                    .four{
                        position: absolute;
                        width: 12%;
                        right: 5%; bottom: 5%;
                        transition: 1s ease;
                        transform-origin: center;
                        .fourC{
                            .redCircle{
                                fill:#FF5353;
                            }
                        }
                        &:hover{
                            transform: rotate(360deg);
                        }
                    }

                    .band{
                        position: absolute;
                        width: 12%;
                        right: 30%; bottom: 15%;
                        transition: .3s ease;
                        animation: bingle 10s  5s linear infinite;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }

                    @keyframes bingle {
                        0%{
                            transform: rotate(0deg);
                        }
                        100%{
                            transform: rotate(360deg);
                        }
                    }

                    .arrow{
                        position: absolute;
                        width: 11%;
                        right: 13%; bottom: 43%;
                        transition: .3s ease;
                        .gA{
                            
                            #g1{
                                d:path('M64 66C65.1046 66 66 65.1046 66 64V46C66 44.8954 65.1046 44 64 44C62.8954 44 62 44.8954 62 46V62H46C44.8954 62 44 62.8954 44 64C44 65.1046 44.8954 66 46 66H64ZM33.5858 36.4142L62.5858 65.4142L65.4142 62.5858L36.4142 33.5858L33.5858 36.4142Z');
                                animation: g1 .5s 5s linear infinite alternate;
                                @keyframes g1{
                                    0%{
                                        transform: translate(0%);
                                    }
                                    100%{
                                        transform: translate(-5%,-5%);
                                    }
                                }
                            }

                            #g2{
                                animation: g2 .5s 5s linear infinite alternate;
                                @keyframes g2{
                                    0%{
                                        transform: translate(0%);
                                    }
                                    100%{
                                        transform: translate(-5%,5%);
                                    }
                                }
                            }

                            #g3{
                                animation: g3 .5s 5s linear infinite alternate;
                                @keyframes g3{
                                    0%{
                                        transform: translate(0%);
                                    }
                                    100%{
                                        transform: translate(5%,-5%);
                                    }
                                }
                            }
                            
                            #g4{
                                animation: g4 .5s 5s linear infinite alternate;
                                @keyframes g4{
                                    0%{
                                        transform: translate(0%);
                                    }
                                    100%{
                                        transform: translate(5%,5%);
                                    }
                                }
                            }
                            
                        }
                        &:hover{
                            transform: scale(1.2);
                        }
                    }

                    .Dia{
                        position: absolute;
                        width: 15%;
                        top: 12.5%; left: 10%;
                            
                            .dia{
                                fill:#FF6C6C;
                                mix-blend-mode: multiply;
                                transform-origin: 0 0;
                                transform: rotate(45deg);
                        }
                    }

                    .rectbox{
                        position: absolute;
                        width: 40%;
                        bottom:25%; left: 5%;
                    }

                    .txtbox{
                        position: absolute;
                        top: 15%; right: 15%;
                        transform: translate(5%,-10%);
                        overflow: hidden;
                        h2{
                            width: 100%;
                            margin: 0;
                            padding: 0;
                            span{
                                display: block;
                                font-family: 'LeferiPoint-WhiteA';
                                font-size:4rem;
                                overflow: hidden;
                                height:60px;
                                animation: txt 3s steps(31) forwards;
                            }
                            &::before{
                                content: '';
                                display: block;
                                width: 20%;
                                border-top: 0.5vw solid #000;
                                margin: 25px 0;
                            }
                            
                            @keyframes txt {
                                0%{width: 0;}
                                100%{width: 100%;}
                            }
                        }
                    }
                }
            }
        }
    }

}
