@import url("https://fonts.googleapis.com/css2?family=Emblema+One&family=Plaster&display=swap");
@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiBaseType-BoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-BoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-WhiteA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-BlackObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

html,
body {
  font-size: 12px;
  margin: 0 auto;
  width: 100%;
}

ul,
li,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  overflow: hidden;
}
body .mainbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .mainbox header {
  z-index: 2;
  width: 116px;
  height: 100vh;
}
body .mainbox header nav {
  width: 100%;
}
body .mainbox header nav ul {
  width: 100vh;
  display: flex;
  flex-direction: row-reverse;
  transform: translate(0, 100vh) rotate(-90deg);
  transform-origin: 0% 0%;
}
body .mainbox header nav ul li {
  width: 234px;
  transition: 0.3s ease;
  flex-shrink: 0;
}
body .mainbox header nav ul li h2 {
  margin: 0;
  padding: 0;
}
body .mainbox header nav ul li h2 a {
  display: block;
  width: 100%;
  height: 116px;
  background: url("../svg/home_color.svg") 0% 0%/100% no-repeat;
  transition: 0.3s ease;
}
body .mainbox header nav ul li:nth-of-type(1) {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(1) h2 a {
  background-image: url("../svg/home_b.svg");
}
body .mainbox header nav ul li:nth-of-type(1).active, body .mainbox header nav ul li:nth-of-type(1):hover {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(1).active h2 a, body .mainbox header nav ul li:nth-of-type(1):hover h2 a {
  background-image: url("../svg/home_color.svg");
}
body .mainbox header nav ul li:nth-of-type(2) {
  transform: translateX(50px);
  z-index: 98;
}
body .mainbox header nav ul li:nth-of-type(2) h2 a {
  background-image: url("../svg/about_b.svg");
}
body .mainbox header nav ul li:nth-of-type(2):hover, body .mainbox header nav ul li:nth-of-type(2).active {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(2):hover h2 a, body .mainbox header nav ul li:nth-of-type(2).active h2 a {
  background-image: url("../svg/about_color.svg");
}
body .mainbox header nav ul li:nth-of-type(3) {
  transform: translateX(100px);
  z-index: 97;
}
body .mainbox header nav ul li:nth-of-type(3) h2 a {
  background-image: url("../svg/work_b.svg");
}
body .mainbox header nav ul li:nth-of-type(3):hover, body .mainbox header nav ul li:nth-of-type(3).active {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(3):hover h2 a, body .mainbox header nav ul li:nth-of-type(3).active h2 a {
  background-image: url("../svg/work_color.svg");
}
body .mainbox header nav ul li:nth-of-type(4) {
  transform: translateX(150px);
  z-index: 99;
}
body .mainbox header nav ul li:nth-of-type(4) h2 a {
  background-image: url("../svg/contact_b.svg");
}
body .mainbox header nav ul li:nth-of-type(4):hover, body .mainbox header nav ul li:nth-of-type(4).active {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(4):hover h2 a, body .mainbox header nav ul li:nth-of-type(4).active h2 a {
  background-image: url("../svg/contact_color.svg");
}

body .mainbox {
  width: 100%;
  position: relative;
}
body .mainbox canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}
body .mainbox main {
  width: calc(100% - 116px);
}
body .mainbox main .box {
  display: flex;
  justify-content: space-between;
}
body .mainbox main .box .left {
  position: relative;
  width: 20%;
  height: 100vh;
  padding: 5% 2%;
  background-color: #FFC7C7;
}
body .mainbox main .box .left .txtsvg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
body .mainbox main .box .left .txtsvg .txtP {
  fill: transparent;
  stroke: #000;
  stroke-width: 1;
  transform: scale(0.85);
}
body .mainbox main .box .left .txtsvg text {
  fill: #000;
  font-family: "LeferiBaseType-RegularA";
}
body .mainbox main .box .left .txtsvg text textPath {
  font-size: 2rem;
  white-space: pre-line;
}
body .mainbox main .box .left .txtsvg text textPath tspan {
  font-size: 2rem;
  stroke-width: 0.5;
  fill: transparent;
  stroke: #000;
}
body .mainbox main .box .left .menutxt {
  position: relative;
}
body .mainbox main .box .left .menutxt .txtCircle {
  transform: scaleX(-1) scale(1.2);
}
body .mainbox main .box .left .menutxt .txtCircle .b path {
  fill: transparent;
  stroke: #FF5353;
  mix-blend-mode: multiply;
  stroke-width: 20px;
  stroke-dasharray: 1500px;
  stroke-dashoffset: 1500px;
  -webkit-animation: circle 2s ease forwards;
          animation: circle 2s ease forwards;
}
@-webkit-keyframes circle {
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes circle {
  100% {
    stroke-dashoffset: 0px;
  }
}
body .mainbox main .box .left .menutxt .three {
  position: absolute;
  width: 13%;
  left: 25%;
  top: 13%;
}
body .mainbox main .box .left .menutxt .txtCircle mask path {
  fill: white;
}
body .mainbox main .box .left .menutxt .three .threetxt path {
  fill: transparent;
  stroke: #FF5353;
  mix-blend-mode: multiply;
  stroke-width: 20px;
  stroke-linecap: round;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  -webkit-animation: three 1s ease forwards;
          animation: three 1s ease forwards;
}
body .mainbox main .box .left .menutxt .three .threetxt2 path {
  fill: transparent;
  stroke: #FF5353;
  mix-blend-mode: multiply;
  stroke-width: 20px;
  stroke-linecap: round;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  -webkit-animation: three2 1s 0.5s ease forwards;
          animation: three2 1s 0.5s ease forwards;
}
body .mainbox main .box .left .menutxt .three mask path {
  fill: white;
}
@-webkit-keyframes three {
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes three {
  100% {
    stroke-dashoffset: 0px;
  }
}
@-webkit-keyframes three2 {
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes three2 {
  100% {
    stroke-dashoffset: 0px;
  }
}
body .mainbox main .box .left .menutxt .two {
  position: absolute;
  left: 10%;
  top: 60%;
  width: 13%;
}
body .mainbox main .box .left .menutxt .two .twotxt path {
  fill: transparent;
  stroke: #FF5353;
  mix-blend-mode: multiply;
  stroke-width: 30px;
  stroke-linecap: round;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  -webkit-animation: two 1s ease forwards;
          animation: two 1s ease forwards;
}
body .mainbox main .box .left .menutxt .two .twotxt2 path {
  fill: transparent;
  stroke: #FF5353;
  mix-blend-mode: multiply;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  -webkit-animation: two2 1s 0.5s ease forwards;
          animation: two2 1s 0.5s ease forwards;
}
@-webkit-keyframes two {
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes two {
  100% {
    stroke-dashoffset: 0px;
  }
}
@-webkit-keyframes two2 {
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes two2 {
  100% {
    stroke-dashoffset: 0px;
  }
}
body .mainbox main .box .left .menutxt .two mask path {
  fill: white;
}
body .mainbox main .box .left .menutxt h3 {
  position: absolute;
  left: 15%;
  top: 15%;
  font-family: "LeferiBaseType-BoldA";
  font-size: 3.2rem;
  white-space: pre-line;
  margin: 0;
}
body .mainbox main .box .left .nametag {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
body .mainbox main .box .left .nametag .nametag2 {
  width: 15vw;
  height: 8vw;
  fill: #fff;
  stroke: #000;
  stroke-width: 3;
}
body .mainbox main .box .left .nametag .nametag2 text {
  font-family: "LeferiBaseType-RegularA";
  fill: #000;
  font-size: 2.2rem;
}
body .mainbox main .box .right {
  position: relative;
  width: 80%;
}
body .mainbox main .box .right .logo {
  position: absolute;
  right: 12%;
  top: 10%;
  width: 10%;
  z-index: 100;
  overflow: hidden;
}
body .mainbox main .box .right .logo .st0 {
  fill: #FF5353;
  stroke: none;
}
body .mainbox main .box .right .logo .phone text {
  font-family: "LeferiBaseType-RegularA";
  font-size: 1.25rem;
  fill: #FF5353;
  mix-blend-mode: multiply;
  opacity: 0;
  transform: translateX(0%);
}
body .mainbox main .box .right .svgC {
  position: absolute;
  left: 0;
  top: 0;
}
body .mainbox main .box .right .svgC .dia {
  fill: #FF6C6C;
  mix-blend-mode: multiply;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
body .mainbox main .box .right .svgC circle {
  mix-blend-mode: multiply;
}
body .mainbox main .box .right .svgC .redCircle {
  fill: #FF5353;
  -webkit-animation: C1 3s ease forwards;
          animation: C1 3s ease forwards;
  opacity: 0;
}
@-webkit-keyframes C1 {
  0% {
    transform: translate(-10%, 10%);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes C1 {
  0% {
    transform: translate(-10%, 10%);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
body .mainbox main .box .right .svgC .pinkCircle {
  fill: rgba(255, 124, 124, 0.3137254902);
  -webkit-animation: C2 3s ease forwards;
          animation: C2 3s ease forwards;
  opacity: 0;
}
@-webkit-keyframes C2 {
  0% {
    transform: translate(10%, -10%);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes C2 {
  0% {
    transform: translate(10%, -10%);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
body .mainbox main .box .right .svgC .pinkLine {
  stroke: #FF5353;
  fill: transparent;
  stroke-width: 0.2;
  -webkit-animation: C3 3s 0.4s ease forwards;
          animation: C3 3s 0.4s ease forwards;
  opacity: 0;
}
@-webkit-keyframes C3 {
  0% {
    transform: translate(15%, -15%);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
@keyframes C3 {
  0% {
    transform: translate(15%, -15%);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}
body .mainbox main .box .right .four {
  position: absolute;
  width: 12%;
  right: 5%;
  bottom: 5%;
  transition: 1s ease;
  transform-origin: center;
}
body .mainbox main .box .right .four .fourC .redCircle {
  fill: #FF5353;
}
body .mainbox main .box .right .four:hover {
  transform: rotate(360deg);
}
body .mainbox main .box .right .band {
  position: absolute;
  width: 12%;
  right: 30%;
  bottom: 15%;
  transition: 0.3s ease;
  -webkit-animation: bingle 10s linear infinite;
          animation: bingle 10s linear infinite;
}
body .mainbox main .box .right .band:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@-webkit-keyframes bingle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bingle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .mainbox main .box .right .arrow {
  position: absolute;
  width: 11%;
  right: 13%;
  bottom: 43%;
  transition: 0.3s ease;
}
body .mainbox main .box .right .arrow .gA #g1 {
  d: path("M64 66C65.1046 66 66 65.1046 66 64V46C66 44.8954 65.1046 44 64 44C62.8954 44 62 44.8954 62 46V62H46C44.8954 62 44 62.8954 44 64C44 65.1046 44.8954 66 46 66H64ZM33.5858 36.4142L62.5858 65.4142L65.4142 62.5858L36.4142 33.5858L33.5858 36.4142Z");
  -webkit-animation: g1 0.5s 5s linear infinite alternate;
          animation: g1 0.5s 5s linear infinite alternate;
}
@-webkit-keyframes g1 {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-5%, -5%);
  }
}
@keyframes g1 {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-5%, -5%);
  }
}
body .mainbox main .box .right .arrow .gA #g2 {
  -webkit-animation: g2 0.5s 5s linear infinite alternate;
          animation: g2 0.5s 5s linear infinite alternate;
}
@-webkit-keyframes g2 {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-5%, 5%);
  }
}
@keyframes g2 {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-5%, 5%);
  }
}
body .mainbox main .box .right .arrow .gA #g3 {
  -webkit-animation: g3 0.5s 5s linear infinite alternate;
          animation: g3 0.5s 5s linear infinite alternate;
}
@-webkit-keyframes g3 {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(5%, -5%);
  }
}
@keyframes g3 {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(5%, -5%);
  }
}
body .mainbox main .box .right .arrow .gA #g4 {
  -webkit-animation: g4 0.5s 5s linear infinite alternate;
          animation: g4 0.5s 5s linear infinite alternate;
}
@-webkit-keyframes g4 {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(5%, 5%);
  }
}
@keyframes g4 {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(5%, 5%);
  }
}
body .mainbox main .box .right .arrow:hover {
  transform: scale(1.2);
}
body .mainbox main .box .right .Dia {
  position: absolute;
  width: 15%;
  top: 12.5%;
  left: 10%;
  overflow: hidden;
}
body .mainbox main .box .right .Dia .dia {
  fill: #FF6C6C;
  mix-blend-mode: multiply;
  transform-origin: 0 0;
  transform: rotate(45deg);
  -webkit-animation: dia 1s 0.5s ease forwards;
          animation: dia 1s 0.5s ease forwards;
}
body .mainbox main .box .right .Dia .dia:nth-of-type(1) {
  -webkit-animation: dia1 1s ease forwards;
          animation: dia1 1s ease forwards;
}
@-webkit-keyframes dia1 {
  0% {
    transform: rotate(45deg) translate(-90%, 90%);
  }
  100% {
    transform: rotate(45deg) translate(0%, 0%);
  }
}
@keyframes dia1 {
  0% {
    transform: rotate(45deg) translate(-90%, 90%);
  }
  100% {
    transform: rotate(45deg) translate(0%, 0%);
  }
}
body .mainbox main .box .right .Dia .dia:nth-of-type(2) {
  -webkit-animation: dia2 1s 0.1s ease forwards;
          animation: dia2 1s 0.1s ease forwards;
}
@-webkit-keyframes dia2 {
  0% {
    transform: rotate(45deg) translate(-90%, 90%);
  }
  100% {
    transform: rotate(45deg) translate(0%, 0%);
  }
}
@keyframes dia2 {
  0% {
    transform: rotate(45deg) translate(-90%, 90%);
  }
  100% {
    transform: rotate(45deg) translate(0%, 0%);
  }
}
body .mainbox main .box .right .Dia .dia:nth-of-type(3) {
  -webkit-animation: dia3 1s 0.2s ease forwards;
          animation: dia3 1s 0.2s ease forwards;
}
@-webkit-keyframes dia3 {
  0% {
    transform: rotate(45deg) translate(-90%, 90%);
  }
  100% {
    transform: rotate(45deg) translate(0%, 0%);
  }
}
@keyframes dia3 {
  0% {
    transform: rotate(45deg) translate(-90%, 90%);
  }
  100% {
    transform: rotate(45deg) translate(0%, 0%);
  }
}
@-webkit-keyframes dia {
  0% {
    transform: rotate(45deg) translate(90%, 90%);
  }
  100% {
    transform: rotate(45deg) translate(0%, 0%);
  }
}
@keyframes dia {
  0% {
    transform: rotate(45deg) translate(90%, 90%);
  }
  100% {
    transform: rotate(45deg) translate(0%, 0%);
  }
}
@-webkit-keyframes diaup1 {
  0% {
    transform: rotate(45deg) translate(0%, 0%);
  }
  100% {
    transform: rotate(45deg) translate(90%, 90%);
  }
}
@keyframes diaup1 {
  0% {
    transform: rotate(45deg) translate(0%, 0%);
  }
  100% {
    transform: rotate(45deg) translate(90%, 90%);
  }
}
body .mainbox main .box .right .rectbox {
  position: absolute;
  width: 40%;
  bottom: 25%;
  left: 5%;
}
body .mainbox main .box .right .txtbox {
  position: absolute;
  top: 15%;
  right: 15%;
  transform: translate(5%, -10%);
  overflow: hidden;
}
body .mainbox main .box .right .txtbox h2 {
  width: 100%;
  margin: 0;
  padding: 0;
}
body .mainbox main .box .right .txtbox h2 span {
  display: block;
  font-family: "LeferiPoint-WhiteA";
  font-size: 4rem;
  overflow: hidden;
  height: 60px;
  -webkit-animation: txt 3s steps(31) forwards;
          animation: txt 3s steps(31) forwards;
}
body .mainbox main .box .right .txtbox h2::before {
  content: "";
  display: block;
  width: 20%;
  border-top: 0.5vw solid #000;
  margin: 25px 0;
}
@-webkit-keyframes txt {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes txt {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */