@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Emblema+One&family=Plaster&display=swap");
@font-face {
  font-family: "LeferiBaseType-RegularA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiBaseType-BoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-BoldA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-WhiteA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-BlackObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.6;
  color: black;
}

html,
body {
  font-size: 12px;
  margin: 0 auto;
  width: 100%;
}

ul,
li,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  overflow: hidden;
}
body .mainbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .mainbox header {
  z-index: 2;
  width: 116px;
  height: 100vh;
}
body .mainbox header nav {
  width: 100%;
}
body .mainbox header nav ul {
  width: 100vh;
  display: flex;
  flex-direction: row-reverse;
  transform: translate(0, 100vh) rotate(-90deg);
  transform-origin: 0% 0%;
}
body .mainbox header nav ul li {
  width: 234px;
  transition: 0.3s ease;
  flex-shrink: 0;
}
body .mainbox header nav ul li h2 {
  margin: 0;
  padding: 0;
}
body .mainbox header nav ul li h2 a {
  display: block;
  width: 100%;
  height: 116px;
  background: url("../svg/home_color.svg") 0% 0%/100% no-repeat;
  transition: 0.3s ease;
}
body .mainbox header nav ul li:nth-of-type(1) {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(1) h2 a {
  background-image: url("../svg/home_b.svg");
}
body .mainbox header nav ul li:nth-of-type(1).active, body .mainbox header nav ul li:nth-of-type(1):hover {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(1).active h2 a, body .mainbox header nav ul li:nth-of-type(1):hover h2 a {
  background-image: url("../svg/home_color.svg");
}
body .mainbox header nav ul li:nth-of-type(2) {
  transform: translateX(50px);
  z-index: 98;
}
body .mainbox header nav ul li:nth-of-type(2) h2 a {
  background-image: url("../svg/about_b.svg");
}
body .mainbox header nav ul li:nth-of-type(2):hover, body .mainbox header nav ul li:nth-of-type(2).active {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(2):hover h2 a, body .mainbox header nav ul li:nth-of-type(2).active h2 a {
  background-image: url("../svg/about_color.svg");
}
body .mainbox header nav ul li:nth-of-type(3) {
  transform: translateX(100px);
  z-index: 97;
}
body .mainbox header nav ul li:nth-of-type(3) h2 a {
  background-image: url("../svg/work_b.svg");
}
body .mainbox header nav ul li:nth-of-type(3):hover, body .mainbox header nav ul li:nth-of-type(3).active {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(3):hover h2 a, body .mainbox header nav ul li:nth-of-type(3).active h2 a {
  background-image: url("../svg/work_color.svg");
}
body .mainbox header nav ul li:nth-of-type(4) {
  transform: translateX(150px);
  z-index: 99;
}
body .mainbox header nav ul li:nth-of-type(4) h2 a {
  background-image: url("../svg/contact_b.svg");
}
body .mainbox header nav ul li:nth-of-type(4):hover, body .mainbox header nav ul li:nth-of-type(4).active {
  z-index: 100;
}
body .mainbox header nav ul li:nth-of-type(4):hover h2 a, body .mainbox header nav ul li:nth-of-type(4).active h2 a {
  background-image: url("../svg/contact_color.svg");
}

body {
  overflow: hidden;
}
body .mainbox {
  width: 100%;
  position: relative;
}
body .mainbox canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
}
body .mainbox main {
  width: calc(100% - 116px);
}
body .mainbox main .box {
  display: flex;
  justify-content: space-between;
}
body .mainbox main .box .left {
  position: relative;
  width: 20%;
  height: 100vh;
  padding: 5% 2%;
  background-color: #FFA9A9;
}
body .mainbox main .box .left .path {
  position: absolute;
  left: 10%;
  top: 0;
  width: 30%;
  fill: transparent;
  stroke: #000000;
  stroke-width: 2;
}
body .mainbox main .box .left .path text {
  fill: #000;
  font-family: "LeferiPoint-BlackA";
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-size: 3rem;
}
body .mainbox main .box .left .path text:nth-of-type(1) {
  -webkit-animation: txt1 10s linear infinite;
          animation: txt1 10s linear infinite;
}
body .mainbox main .box .left .path text:nth-of-type(2) {
  transform: translateY(-215%);
  -webkit-animation: txt2 10s linear infinite;
          animation: txt2 10s linear infinite;
}
@-webkit-keyframes txt1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes txt1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@-webkit-keyframes txt2 {
  0% {
    transform: translateY(-215%);
  }
  100% {
    transform: translateY(-115%);
  }
}
@keyframes txt2 {
  0% {
    transform: translateY(-215%);
  }
  100% {
    transform: translateY(-115%);
  }
}
body .mainbox main .box .left .path text tspan {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.5;
  font-size: 3rem;
}
body .mainbox main .box .left .txtline {
  position: absolute;
  left: 10%;
  top: 0;
  width: 30%;
}
body .mainbox main .box .left .txtline path {
  fill: #FF5353;
}
body .mainbox main .box .left .leftbtn {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 40%;
  height: 90vh;
}
body .mainbox main .box .left .leftbtn .workbtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .mainbox main .box .left .leftbtn .workbtn svg {
  width: 70%;
}
body .mainbox main .box .left .leftbtn .workbtn svg #btn1 text {
  fill: #fff;
  font-family: "Emblema One", cursive;
  font-size: 10rem;
}
body .mainbox main .box .left .leftbtn .workbtn svg:hover #btn1 circle, body .mainbox main .box .left .leftbtn .workbtn svg.active #btn1 circle {
  fill: #fff;
}
body .mainbox main .box .left .leftbtn .workbtn svg:hover #btn1 path, body .mainbox main .box .left .leftbtn .workbtn svg.active #btn1 path {
  fill: #FF5353;
}
body .mainbox main .box .left .leftbtn .workbtn svg:hover #btn1 text, body .mainbox main .box .left .leftbtn .workbtn svg.active #btn1 text {
  font-family: "Emblema One", cursive;
  font-size: 10rem;
  fill: #FF5353;
}
body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(2):hover #btn2 circle, body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(2).active #btn2 circle {
  fill: #fff;
}
body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(2):hover #btn2 path, body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(2).active #btn2 path {
  fill: #6153FF;
}
body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(3):hover #btn3 circle, body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(3).active #btn3 circle {
  fill: #56FF53;
}
body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(3):hover #btn3 circle:nth-of-type(1), body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(3).active #btn3 circle:nth-of-type(1) {
  fill: #fff;
}
body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(3):hover #btn3 path, body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(3).active #btn3 path {
  fill: #56FF53;
}
body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(4):hover #btn2 circle, body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(4).active #btn2 circle {
  fill: #fff;
}
body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(4):hover #btn2 path, body .mainbox main .box .left .leftbtn .workbtn svg:nth-of-type(4).active #btn2 path {
  fill: #B353FF;
}
body .mainbox main .box .left .leftbtn .Downbtn {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  padding: 20%;
}
body .mainbox main .box .left .leftbtn .Downbtn svg {
  width: 100%;
}
body .mainbox main .box .left .leftbtn .Downbtn p {
  margin: 8% 0 0;
  font-family: "LeferiBaseType-BoldA";
  font-size: 1.3rem;
  color: #fff;
}
body .mainbox main .box .left .leftbtn .Downbtn p::after {
  content: "↑";
  display: inline-block;
  color: #fff;
  font-family: "LeferiBaseType-BoldA";
  font-size: 1.3rem;
  margin-left: 10%;
}
body .mainbox main .box .right {
  position: relative;
  width: 80%;
  background: url("../img/imsi/bg.svg") 0% 40%/cover;
}
body .mainbox main .box .right .logo {
  position: absolute;
  right: 12%;
  top: 10%;
  width: 10%;
}
body .mainbox main .box .right .logo .st0 {
  fill: #FF5353;
  stroke: none;
}
body .mainbox main .box .right .subtxt {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 25%;
}
body .mainbox main .box .right .subtxt h2 {
  margin: 0;
  padding: 3% 20%;
  display: inline-block;
  font-family: "LeferiPoint-WhiteA";
  font-size: 2.5rem;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50px;
  background-color: #fff;
}
body .mainbox main .box .right .Work {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding: 15vw 0;
}
body .mainbox main .box .right .Work .imgwork {
  width: 30%;
  overflow: hidden;
}
body .mainbox main .box .right .Work .imgwork p {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  opacity: 0;
  -webkit-animation: img 1s ease forwards;
          animation: img 1s ease forwards;
}
body .mainbox main .box .right .Work .imgwork p img {
  width: 100%;
  vertical-align: top;
}
@-webkit-keyframes img {
  0% {
    transform: translateX(-100%);
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes img {
  0% {
    transform: translateX(-100%);
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
body .mainbox main .box .right .Work .worktxt {
  width: 35%;
  border: 3px solid #000;
  background-color: #fff;
  overflow: hidden;
}
body .mainbox main .box .right .Work .worktxt span {
  display: block;
  border-bottom: 3px solid #000;
  width: 100%;
  padding: 4% 10%;
}
body .mainbox main .box .right .Work .worktxt .wTxt {
  padding: 5%;
  overflow: hidden;
}
body .mainbox main .box .right .Work .worktxt .wTxt .hh {
  overflow: hidden;
}
body .mainbox main .box .right .Work .worktxt .wTxt .hh > h2 {
  margin-top: 0;
  font-family: "LeferiBaseType-BoldA";
  font-size: 2.5rem;
  -webkit-animation: h2 1s ease forwards;
          animation: h2 1s ease forwards;
  transform: translateY(150%);
}
@-webkit-keyframes h2 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes h2 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .Work .worktxt .wTxt .tag {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7%;
  overflow: hidden;
}
body .mainbox main .box .right .Work .worktxt .wTxt .tag p {
  margin: 0;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #fff;
  padding: 1% 3%;
  font-family: "LeferiBaseType-RegularA";
  font-size: 1.3rem;
  transform: translateY(100%);
}
body .mainbox main .box .right .Work .worktxt .wTxt .tag p:nth-of-type(1) {
  -webkit-animation: p 1s ease forwards;
          animation: p 1s ease forwards;
}
@-webkit-keyframes p {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes p {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .Work .worktxt .wTxt .tag p:nth-of-type(2) {
  -webkit-animation: p2 1s 0.1s ease forwards;
          animation: p2 1s 0.1s ease forwards;
}
@-webkit-keyframes p2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes p2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .Work .worktxt .wTxt .tag p:nth-of-type(3) {
  -webkit-animation: p3 1s 0.2s ease forwards;
          animation: p3 1s 0.2s ease forwards;
}
@-webkit-keyframes p3 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes p3 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .Work .worktxt .wTxt .tag p:nth-of-type(4) {
  -webkit-animation: p4 1s 0.3s ease forwards;
          animation: p4 1s 0.3s ease forwards;
}
@-webkit-keyframes p4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes p4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .Work .worktxt .wTxt .p1 {
  overflow: hidden;
}
body .mainbox main .box .right .Work .worktxt .wTxt .p1 p {
  -webkit-animation: ptag 1s ease forwards;
          animation: ptag 1s ease forwards;
}
@-webkit-keyframes ptag {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes ptag {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .Work .worktxt .wTxt .p2 {
  overflow: hidden;
}
body .mainbox main .box .right .Work .worktxt .wTxt .p2 p {
  -webkit-animation: ptag2 1s 0.1s ease forwards;
          animation: ptag2 1s 0.1s ease forwards;
}
@-webkit-keyframes ptag2 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes ptag2 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .Work .worktxt .wTxt p {
  font-family: "LeferiBaseType-RegularA";
  font-size: 1.3rem;
  line-height: 2;
  white-space: pre-line;
  word-break: keep-all;
  transform: translateY(150%);
  margin: 0;
}
body .mainbox main .box .right .Work .worktxt .wBtn {
  margin-top: 5%;
  padding: 0 5% 2%;
}
body .mainbox main .box .right .Work .worktxt .wBtn ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
body .mainbox main .box .right .Work .worktxt .wBtn ul li {
  width: 33%;
  text-align: center;
}
body .mainbox main .box .right .Work .worktxt .wBtn ul li a {
  display: inline-block;
  width: 40%;
  height: 6vh;
  background: url("../img/icon/work/folder_P.svg") 0% 0%/100% no-repeat;
}
body .mainbox main .box .right .Work .worktxt .wBtn ul li p {
  margin: 0;
  font-family: "LeferiBaseType-RegularA";
  font-size: 1.3rem;
}
body .mainbox main .box .right .Work .worktxt .wBtn ul li:nth-of-type(1) {
  -webkit-animation: folder 1s ease forwards;
          animation: folder 1s ease forwards;
}
@-webkit-keyframes folder {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes folder {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .Work .worktxt .wBtn ul li:nth-of-type(2) {
  -webkit-animation: folder2 1s 0.1s ease forwards;
          animation: folder2 1s 0.1s ease forwards;
}
@-webkit-keyframes folder2 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes folder2 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .Work .worktxt .wBtn ul li:nth-of-type(3) {
  -webkit-animation: folder3 1s 0.2s ease forwards;
          animation: folder3 1s 0.2s ease forwards;
}
@-webkit-keyframes folder3 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes folder3 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .mainbox main .box .right .arrow45 {
  position: absolute;
  bottom: 5%;
  right: 3%;
  width: 7%;
  z-index: 20;
}
body .mainbox main .box .right .bgtxt {
  position: absolute;
  bottom: 0%;
  left: 25%;
}
body .mainbox main .box .right .bgtxt p {
  font-family: "LeferiPoint-WhiteObliqueA";
  font-size: 6rem;
  color: rgba(255, 124, 124, 0.368627451);
  mix-blend-mode: multiply;
  margin: 0;
}/*# sourceMappingURL=sub_work.css.map */