@import"_common";

body{
    overflow: hidden;
    .mainbox{
        width: $pagrWidth;
        position: relative;
        canvas{
            @include canvas();
        }

        main{
            width: calc(100% - 116px);

            .box{
                display: flex;
                justify-content: space-between;
                
                .left{
                    position: relative;
                    width: 20%;
                    height: 100vh;
                    padding: 5% 2%;
                    background-color: #FFA9A9;

                    .path{
                        position: absolute;
                        left: 10%; top: 0;
                        width: 30%;
                        fill:transparent;
                        stroke:#000000;
                        stroke-width: 2;
                        text{
                            fill: #000;
                            font-family: 'LeferiPoint-BlackA';
                            writing-mode: vertical-rl;
                            font-size: 3rem;
                            &:nth-of-type(1){
                                animation: txt1 10s linear infinite;
                            }
                            &:nth-of-type(2){
                                transform: translateY(-215%);
                                animation: txt2 10s   linear infinite;
                            }
                            @keyframes txt1 {
                                0%{transform: translateY(0%);}
                                100%{transform: translateY(100%);}
                            }
                            @keyframes txt2 {
                                0%{transform: translateY(-215%);}
                                100%{transform: translateY(-115%);}
                            }
                            tspan{
                                fill:transparent;
                                    stroke: #fff;
                                    stroke-width: .5;
                                    font-size: 3rem;
                                }
                            
                        }
                    }
                    .txtline{
                    position: absolute;
                    left: 10%; top: 0;
                    width: 30%;
                        path{
                            fill:#FF5353;
                        }
                    }

                    .leftbtn{
                        position: absolute;
                        right: 5%; top: 10%;
                        width: 40%;
                        height: 80vh;
                        .workbtn{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            svg{
                                width: 70%;
                                
                                // btn1
                                &:nth-of-type(1):hover,
                                &:nth-of-type(1).active{
                                    #btn1{
                                        circle{
                                            fill:#fff;
                                        }
                                        path{
                                            fill:#FF5353;
                                        }
                                        
                                    }
                                }
                                // btn2
                                &:nth-of-type(2):hover,
                                &:nth-of-type(2).active{
                                    #btn2{
                                        circle{
                                            fill:#fff;
                                        }
                                        path{
                                            fill:#6153FF;
                                        }
                                        
                                    }
                                }
    
                                // btn3
                                &:nth-of-type(3):hover,
                                &:nth-of-type(3).active{
                                    #btn3{
                                        circle{
                                            &:nth-of-type(1){
                                                fill:#fff;
                                            }
                                            fill:#56FF53;
                                        }
                                        path{
                                            fill:#56FF53;
                                        }
                                        
                                    }
                                }
    
                                // btn4
                                &:nth-of-type(4):hover,
                                &:nth-of-type(4).active{
                                    #btn2{
                                        circle{
                                            fill:#fff;
                                        }
                                        path{
                                            fill:#B353FF;
                                        }
                                        
                                    }
                                }
                            }
    
                            
                            
                        }
                        .Downbtn{
                            position: absolute;
                            bottom: 0%; left: 0%;
                            width: 100%;
                            padding: 20%;
                            svg{
                                width: 100%;
                            }
                            p{
                                margin: 8% 0 0;
                                font-family: 'LeferiBaseType-BoldA';
                                font-size: 1.3rem;
                                color: #fff;
                                &::after{
                                    content: "↑";
                                    display: inline-block;
                                    color: #fff;
                                    font-family: 'LeferiBaseType-BoldA';
                                    font-size: 1.3rem;
                                    margin-left:10%;
                                }
                            }
                        }
                    }
                    
                }

                .right{
                    position: relative;
                    width: 80%;
                    .logo{
                        position: absolute;
                        right: 12%; top: 10%;
                        width: 10%;
                        .st0{
                            @include logoPath();
                        }
                    }

                    .subtxt{
                        position: absolute;
                        top: 15%; left: 35%;
                        width: 25%;
                        h2{
                            margin: 0;
                            padding: 3% 20%;
                            display: inline-block;
                            font-family: 'LeferiPoint-WhiteA';
                            font-size: 2.5rem;
                            text-align: center;
                            border: 1px solid #000;
                            border-radius: 50px;
                            background-color: #fff;
                        }
                    }

                    // work
                    .Work{
                        border: 1px solid #f00;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        padding: 20%;
                        .imgwork{
                            width: 50%;
                            border: 1px solid #000;
                            p{
                                width: 100%;
                                display: inline-block;
                                margin: 0;
                                padding: 0;
                                vertical-align: top;
                                img{
                                    width: 100%;
                                    vertical-align: top;
                                }
                            }
                        }

                        .worktxt{
                            border: 3px solid #000;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}