@import"_common";

body{
    .mainbox{
        width: $pagrWidth;
        position: relative;
        canvas{
            @include canvas();
        }
        main{
            width: calc(100% - 116px);
            
            .box{
                display: flex;
                justify-content: space-between;
                .left{
                    position: relative;
                    width: 20%;
                    height: 100vh;
                    padding: 5% 2%;
                    background-color: #FFA9A9;

                    .pinkrect{
                        position: absolute;
                        left: 10%; top: 0;
                        width: 30%;
                        height: 100%;
                    }

                    .path{
                        position: absolute;
                        left: 10%; top: 0;
                        width: 30%; height:80%;
                        >p{
                            position:absolute;
                            left:42%; top:0;
                            transform: translate(-50%,-50%);
                            margin:0;                            
                            animation: txt1 10s linear infinite;
                        }
                        @keyframes txt1 {
                                0%{transform: translate(-50%,-50%);}
                                100%{transform: translate(-50%,0%);}
                        }
                        span{
                            display:block;
                            white-space: nowrap;
                            color: #000;
                            font-family: 'LeferiPoint-BlackA';
                            writing-mode: vertical-rl;
                            font-size: 3rem;

                            b{
                                color:transparent;
                                -webkit-text-stroke:1px #fff;
                                font-size: 3rem;
                            }
                            
                        }
                    }

                    .path2{
                        position: absolute;
                        left: 45%; top: 0;
                        width: 20%;
                        >p{
                            position:absolute;
                            left:42%; top:0;
                            transform: translate(-50%,-50%);
                            margin:0;                            
                            animation: txt2 80s linear infinite;
                        }
                        @keyframes txt2 {
                            0%{transform: translate(-50%,-50%);}
                            100%{transform: translate(-50%,0%);}
                        }
                        span{
                            display:block;
                            white-space: nowrap;
                            color: #000;
                            font-family: 'LeferiPoint-WhiteObliqueA';
                            writing-mode: vertical-rl;
                            font-size: 2rem;
                            
                        }
                    }

                    .whiteLine{
                        position: absolute;
                        left: 40%; top:0%;
                        width: 30%;
                        height: 100%;
                    }
                }

                
                .right{
                    position: relative;
                    width: 80%;
                    background: url('../img/imsi/contact_Bg.svg') 0% 40% / cover;
                    .logo{
                        position: absolute;
                        right: 12%; top: 10%;
                        width: 10%;
                        .st0{
                            @include logoPath();
                        }
                    }

                    .contactbox{
                        position: absolute;
                        left: 50%; top: 50%;
                        transform: translate(-60%, -50%);
                        width: 50%;
                        background-color: #fff;
                        border: 3px solid #000;

                        span{
                            display: block;
                            border-bottom: 3px solid #000;
                            width: 100%;
                            padding: 3% 10%;
                            background: url('../img/icon/xbtn.png')95% 50% /4% no-repeat;
                            marquee{
                                
                                display: block;
                                text-align: center;
                                font-size: 1.2rem;
                                font-family: 'LeferiBaseType-RegularA';
                            }
                        }
                        .ctxt{
                            display: flex;
                            flex-direction: column;
                            padding: 5%;
                            a{
                                display: block;
                                padding: 4%;
                                text-align: center;
                                font-size: 2rem;
                                font-family: 'LeferiBaseType-RegularA';
                                border-bottom: 1px solid #000;
                                &:nth-of-type(1){}
                                &:nth-of-type(2){}
                                &:nth-of-type(3){
                                    border-bottom: none;
                                }
                                
                                &::before{
                                    content: "+";
                                    display: inline-block;
                                    font-family: 'LeferiBaseType-RegularA';
                                    font-size: 2rem;
                                    margin-right: 10%;
                                }
                                &::after{
                                    content: "+";
                                    display: inline-block;
                                    font-family: 'LeferiBaseType-RegularA';
                                    font-size: 2rem;
                                    margin-left: 10%;
                                }
                                &:hover{
                                    font-family: 'LeferiBaseType-BoldA';
                                    color:#FF5353;
                                    // mix-blend-mode: multiply;
                                    &::after{
                                        content: "←";
                                    }
                                    &::before{
                                        content: "→";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}