@import"_common";

body{
    .mainbox{
        width: $pagrWidth;
        position: relative;
        canvas{
            @include canvas();
        }
        main{
            width: calc(100% - 116px);
            
            .box{
                display: flex;
                justify-content: space-between;
                .left{
                    position: relative;
                    width: 20%;
                    height: 100vh;
                    padding: 5% 2%;
                    background-color: #FFA9A9;
                }
                .right{
                    position: relative;
                    width: 80%;
                    background: url('../img/imsi/contact_Bg.svg') 0% 40% / cover;
                    .logo{
                        position: absolute;
                        right: 12%; top: 10%;
                        width: 10%;
                        .st0{
                            @include logoPath();
                        }
                    }

                }
            }
        }
    }
}